<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
       
        <title>Manjari</title>
     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="normalize.min.css">
        <link rel="stylesheet" href="main.css">

    </head>
    <body>
            <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
    
            <div class="header-container">
                <header class="wrapper clearfix">
                    <h1 class="title">Manjari's Application</h1>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="calc">Calculate BMI</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a href="guestbook">Guestbook</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div style="background-image: url('pic6.jpg')" class="main-container">          
                    <div class="main wrapper clearfix">                
        
                        <article> 
                            <header>
                                    <table><tr>
                                            <td><img src="pic1.jpg" alt="profile picture" class="img-circle" height="120" width="100"/> </td>
                                            <td></td>
                                        <td>&nbsp;</td>
                                   <td> <h1  id="aboutme"> Contact Us</h1>     </td></tr></table>                
                            </header>
                            <section>
                                <br><br>
                                <aside style="float:left;width:540px;height:350px;padding-top:20px"> 
                                    <form>
                                        
                                        <table style="width:550px;border:0;" >
                                        <tr> <td>
                                        <label>Name*:</label>
                                        </td> <td>
                                        <input type="text" maxlength="60" style="width:250px;" />
                                        </td> </tr>  <tr> <td>
                                        <label>Email address*:</label>
                                        </td> <td>
                                        <input type="text" maxlength="90" style="width:250px;" />
                                        </td> </tr> <tr> <td>
                                        <label>Comments*:</label>
                                        </td> <td>
                                        <textarea rows="7" cols="40" style="width:350px;"></textarea>
                                        </td> </tr> <tr> <td>
                                        * - required fields
                                        </td> <td>
                                        <input id="submit_contact" type="submit" value="Submit" />
                                        </td> </tr>
                                        </table>
                                        </form>
                                </aside>
                                </section>
                                <footer>                        
                                    <p></p>
                                </footer>
                            </article>
                        </div> <!-- #main -->
                    </div> <!-- #main-container -->

        <div class="footer-container">
                <footer class="wrapper" id="mainfooter"> 
                    &copy; Copyright 2017. All rights reserved. S530719@nwmissouri.edu
                </footer>
            </div>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    
            <script src="js/main.js"></script>
    
            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <script>
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','UA-XXXXX-X','auto');ga('send','pageview');
            </script>
        </body>
        </html>