<head>
    
   
     <title>Manjari</title>
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="normalize.min.css">
     <link rel="stylesheet" href="main.css">


 </head>
<body>
        <div class="header-container">
                <header class="wrapper clearfix">
                    <h1 class="title">Manjari's Application</h1>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="calc">Calculate BMI</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a href="guestbook">Guestbook</a></li>
                        </ul>
                    </nav>
                </header>   
            </div>
    
            <div style="background-image: url('pic6.jpg')" class="main-container">          
                <div class="main wrapper clearfix">                
    
         
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</div> <!-- #main -->

</div> <!-- #main-container -->