<head>
  
 
   <title>Manjari</title>
  
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="normalize.min.css">
   <link rel="stylesheet" href="main.css">


</head>
<body>
      <div class="header-container">
              <header class="wrapper clearfix">
                  <h1 class="title">Manjari's Application</h1>
                  <nav>
                      <ul>
                          <li><a href="/">Home</a></li>
                          <li><a href="calc">Calculate BMI</a></li>
                          <li><a href="contact">Contact</a></li>
                          <li><a href="guestbook">Guestbook</a></li>
                      </ul>
                  </nav>
              </header>   
          </div>
  
          <div style="background-image: url('pic6.jpg')" class="main-container">          
              <div class="main wrapper clearfix">                
  
       
<h2>Write a new entry</h2>
<form method="post" role="form">
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title"
  name="title" placeholder="Entry title" required></div>

<div class="form-group">
<label for="content">Entry text</label>
<textarea class="form-control" id="body" name="body"
placeholder="Love Express! It’s a great tool for
building websites." rows="3" required></textarea></div>

<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary"></div>
</form>
</div> <!-- #main -->

</div> <!-- #main-container -->
<br><br><br><br><br><br><br><br><br>
<div class="footer-container">
  <footer class="wrapper" id="mainfooter"> 
      &copy; Copyright 2017. All rights reserved. S530719@nwmissouri.edu
  </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
</body>
</html>
